# Created by .ignore support plugin (hsz.mobi)
### Laravel template
/bootstrap/compiled.php
.env.*.php
.env.php
.env
vendor
.idea

elcoin_access.log
elcoin_error.log

node_modules
npm-debug.log

_ide_helper.php
.phpstorm.meta.php