.text-muted {font-size: 17px;}

#applicationStatus {
    position: relative;
    width: auto;
    height: 140px;
    left: 40px; }

.applicationStatus li {
    position: relative;
    text-indent: 30px;
    height: 160px;
    background-color: #96CF49;
    display: inline-block;
    /* Dirty IE Hack */
    zoom: 1;
    *display: inline;
    /* margin-right: 30px; Eliminated this */
    margin-left: 30px;
    padding: 10px 10px 10px 30px;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 150px;
}

ul.applicationStatus {
    list-style: none; }

li.applicationStatus:first-child:after, li.applicationStatusGood:after, li.applicationStatusNoGood:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 80px solid transparent;
    border-left: 30px solid #96CF49;
    border-bottom: 80px solid transparent;
    margin: -10px 90px 0 10px;
}
li.applicationStatus:last-child:before, li.applicationStatusGood:before, li.applicationStatusNoGood:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    border-top: 80px solid transparent;
    border-left: 30px solid white;
    border-bottom: 80px solid transparent;
    margin: -10px 0 0 0;
}

li.applicationStatus:first-child {
    padding-left: 10px;
    margin-left: 0;
}
li.applicationStatus:last-child {
    padding-right: 30px;
}

li.applicationStatusGood {
    background-color: #77a942; }
li.applicationStatusGood:after {
    border-left: 30px solid #77a942; }

li.applicationStatusNoGood {
    background-color: #4FA929}
li.applicationStatusNoGood:after {
    border-left: 30px solid #4FA929; }
a.list-group-item-success { color: #000; }
.steps {margin-bottom: 50px;}
/*Laptops*/
@media (min-width: 1280px) and (max-width: 1600px){
    .applicationStatus li {
        font-size: 14px;
        text-indent: 12px;
    }
}

/*Phones*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    #banner {
        display: none;
    }
    #c_video {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
